# Python Einführung
## Tag 1
Das ist eine Markdown-Zeile *kursiv* **fett** ***fett-kursiv***

- Punkt 1 
- Punkt 2
- Punkt 3

In [18]:
print("Hello World")

Hello World

In [19]:
print("something")
# ein Kommentar

something

In [20]:
 name  = "Lovelace"

In [21]:
print(name)

Lovelace

In [22]:
age = 73

In [23]:
age
name

'Lovelace'

In [24]:
size = 1.7123

In [25]:
size

1.7123

In [26]:
knows_math = True
print(knows_math)
likes_slacking = False
print(likes_slacking)

True
False

In [27]:
type(name)

str

In [28]:
type(age)
type(size)

float

In [29]:
type(age)

int

In [30]:
5 + 5

10

In [31]:
age * 100

7300

In [32]:
name + name

'LovelaceLovelace'

In [33]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [34]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [35]:
size / age

0.023456164383561642

In [36]:
name + age

TypeError: can only concatenate str (not "int") to str

In [37]:
name + str(age)

'Lovelace73'

## Funktionen und Methoden

In [38]:
len(name)

8

In [39]:
len("Berlin")

6

In [40]:
name.upper

In [41]:
name.upper()

'LOVELACE'

name

In [42]:
name_upper = name.upper()
print(name)
print(name_upper)

Lovelace
LOVELACE

In [43]:
name.count("e")

2

In [44]:
name.replace("lace",  " is everywhere")

'Love is everywhere'

## Listen und Wörterbücher

In [45]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [46]:
type

type

In [47]:
type(names)

list

In [48]:
names[2]

'Curie'

In [49]:
names[1]

'Darwin'

In [50]:
names[-1]

'Hawking'

In [51]:
names[0;1]

SyntaxError: invalid syntax (<ipython-input-51-0e9e83381bf6>, line 1)

In [52]:
names[0:2]

['Lovelace', 'Darwin']

In [53]:
names[:2]

['Lovelace', 'Darwin']

In [54]:
names[2:]

['Curie', 'Hawking']

In [59]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809,
                           "Hawking": [1942, 2018]}

In [56]:
type

type

In [57]:
type(authors_and_birth_years)

dict

In [60]:
authors_and_birth_years["Darwin"]

1809

In [61]:
authors_and_birth_years["Hawking"]

[1942, 2018]

In [64]:
authors_and_birth_years["Hawking", (1)]

KeyError: ('Hawking', 1)

In [66]:
authors_and_birth_years["Hawking"] [-1]

2018

In [67]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [71]:
for name in names:
    print("What did " + name + " do?")
    
    print(name + " did awesome suff")

What did Lovelace do?
Lovelace did awesome suff
What did Darwin do?
Darwin did awesome suff
What did Curie do?
Curie did awesome suff
What did Hawking do?
Hawking did awesome suff

In [73]:
for name in names:
    print(name)
    print("-----")

Lovelace
-----
Darwin
-----
Curie
-----
Hawking
-----

In [74]:
for name in names:
    print(name)
print("-----")

Lovelace
Darwin
Curie
Hawking
-----

## Bedingte Anweisungen

In [77]:
temp = 10
if temp > 15:
    print("It's warm")

In [78]:
temp > 15

False

In [81]:
temp = 10
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [82]:
temp = 15
if temp >= 25:
    print("It's hot")
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [85]:
temps = [0, 10, 16, 22, 30]

In [97]:
for temp in temps:
    if temp >= 25:
       print(temp, " It's hot")
    elif temp >= 15:
        print(temp, " It's warm")
    else:
        print(temp, " It's cold")

0  It's cold
10  It's cold
16  It's warm
22  It's warm
30  It's hot